<main class="conatainer">
    <section>
        <div class="movie">
            <div class="about-section">
                <h3 class='title'>{{ show.title }}</h3>
                <p class='genre'>{{ show.description}}</p>
                <p class='summary'>{{ show.summary }}</p>
                <button id='get-ticket-btn'>Get ticket</button>    
            </div>

            <div class="image-section">
                <div class='img-cont'>
                    <img src={{ show.image_link }}>
                </div>
            </div>
        </div>
    </section>

</main>  

<div class="container book-a-ticket">
    <button id="close-tag">
        <p class="symbol">x</p>
    </button>  
    <div class="left">
        <div class="confirm">
            <p class="pee">CONFIRM AND PAY</p>
            <p class="view">Viewing date</p>
            <div class="viewing-date">
                <div class="dates">
                    <p class="box-text">{{show.date_showing}}</p>
                </div>
                <div class="dates">
                    <p class="box-text">{{show.second_date_showing}}</p>
                    
                </div>
                <div class="dates">
                    <p class="box-text">{{show.third_date_showing}}</p>
                </div>
                <div class="dates">
                    <p class="box-text">{{show.fourth_date_showing}}</p>
                </div>
            </div>
            <p class="times">Time</p>
            <div class="viewing-time">
                <div class="time">
                    <p class="box-text">{{show.time_showing}}</p>
                </div>
                <div class="time">
                    <p class="box-text">{{show.second_time_showing}}</p>
                </div>
                <div class="time">
                    <p class="box-text">{{show.third_time_showing}}</p>
                </div>
                <div class="time">
                    <p class="box-text">{{show.fourth_time_showing}}</p>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div id="form">
                    <div class="form-left">
                        <p class="times">Number of Tickets</p>
                        <div class="viewing-date">
                            <div>
                                <p class="no-of-tickets">WEEKEND ALDULT(#{{show.price}})</p>
                            </div>
                            <div class="input">
                                <input class="tickets" type="number" />
                            </div>
                        </div>
                        <div class="viewing-date">
                            <div id="child-tickets">
                                <p class="no-of-tickets">WEEKEND CHILDREN({{show.price}})</p>
                            </div>
                            <div class="input" >
                                <input class="tickets" type="number"/>
                            </div>
                        </div>
                        <button type="submit" id="pay-button"><a href="/pay?id={{show.id}}">PAY</a></button>
                    </div>
                    <div class="form-right">
                        <div class="info">
                            <div class="viewing-date">
                                <div class="name">
                                    <div>
                                        <p class="text">Name</p>
                                    </div>
                                    <div class="input-text">
                                        <input type="name"/>
                                    </div>
                                </div>   
                                <div class="email">
                                    <p class="text">Email</p>
                                    <div class="input-text">
                                        <input type="email"/>
                                    </div>
                                </div> 
                            </div> 
                            <div class="phone-no">
                                <p class="text">Phone Number</p>
                                <div class="input-text">
                                    <input  type="tel"/>
                                <div>
                            </div> 
                        </div>
                    </div>
                </div>   
            </form>

        </div>

    </div>
    
    <div class='right'>
                    
    </div>

</div>