body{
    margin:0px;
    paddding: 0px;
}
/** Navbar**/
  /**End**/

.movie{
    background-color: #18181A;
    display: flex;
    height: 100vh;
}
.about-section{
    width: 50%;
    height: 80%;
}
.image-section{
    width: 50%;
    height: 80%;
  
}

.img-cont{
    height: 80%;
    border-radius: 20px;
   
}
.title{
    font-family: Avenir Next Cyr;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left:50px;
}
.genre{
    position: relative;
    top: 156;
    font-family: Avenir Next Cyr;
    font-size: 20px;
    font-weight: 750;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-left:50px;
}
.summary{
    width: 595px;

    left: 0px;
    font-family: 'Avenir Next Cyr';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left:50px;
}
#get-ticket-btn{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    left: 0px;
    background: #D9A92E;
    border-radius: 10px;
    margin-left:50px;
}
#pay-button{
    position: relative;
    width: 150px;
    height: 50px;
    left: 0px;
    top: -40px;
    border-radius: 10px;
    margin-left:50px;
    color: #D9A92E;
    border-color: #D9A92E;
}
.book-a-ticket{
    position: absolute;
    width: 1222px;
    height: 940px;
    left: 97px;
    top: 53px;
    display:flex;
    background: linear-gradient(180deg, #070707 0%, rgba(7, 7, 7, 0.8) 100%);
    border-radius: 20px;
    display:none;
}
.left{
    width:85%;
}
.right{
   
}
.confirm{
    justify-content:center;
    width:95%;
    border-radius:solid;
}
.pee{
    color:#D9A92E;
    text-align:left;
    position: relative;
    width: 172px;
    height: 22px;
    left: 35px;
    top: 75px;
    
}
.view{
    color: #ffffff;
    position: relative;
    left: 35px;
    top: 90px;
}
.times{
    color: #ffffff;
    position: relative;
    left: 35px;
    top: 20px;
}
.text{
    color: #ffffff;
    position: relative;
    left: 5px;
    top: 20px;
}
.box-text{
    color: #Dfffff;
    position: relative;
    left: 20px;
    top: 6px;
}
.viewing-date{
    display:flex;
    margin-bottom: 40px;
}
.viewing-time{
    display:flex;
}
.dates{
    width: 20%;
    border-style:solid;
    border-radius:20px;
    width: 113px;
    height: 80px;
    left: 263px;
    border-color: #D9A92E;
    margin-left:10px;
    margin-top :120px;
}
.time{
    width: 20%;
    border-style:solid;
    border-radius:20px;
    width: 113px;
    height: 50px;
    left: 263px;
    border-color: #D9A92E;
    margin-left:10px;
    margin-top :40px;
}
.no-of-tickets{
    color:#D9A92E;
    position: relative;
    left: 35px;
    margin-bottom: 50px;
}
#child-tickets{
    margin-bottom: 20px;
}
.tickets{
    position: relative;
    left: 70px;
    height: 30px;
    top: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
}
#form{
    display: flex;
}
.form-left{
    width: 60%;
}
.form-right{
    width:40%;
    margin-right:60px;
}
.name{
   position :relative;
   left: 50px;
}
.email{
    position :relative;
    left: 50px;
    margin-left: 50px;
 }
.phone-no{
    position :relative;
    left: 50px;
    top: -10px;
 }
input{
    height: 30px;
    background-color: #535455;
    border-radius: 7px;
    text-color: #ffffff;
}
.input-text{
    margin-top:30px;
}
.symbol{
    position: relative;
    color:#D9A92E;
    top: -10px;
}
#close-tag{
    position: relative;
    float:right;
    margin-right:25px;
    margin-top: 30px;
    height: 30px;

}


#footer{
    display: flex;
    background-color: #383838;
}
.logo-area{
    width: 25%;
}
.company-area{
    width: 25%;
}
.contact-area{
    width: 25%;
}
.social-media{
    width: 25%;
}
.logo-text{
    font-family: Avenir Next Cyr;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #F3EFEF;
    position: relative;
    top: -40px;
    left: 50px;
  }
  #lower-text{
    margin-top:30px;
    color: #F3EFEF;
  }
  .social-media{
   
  }
  #ig-logo{
    border-style:solid;
    width: 15%;
    height: 30px;
    margin-right:5px;
  }
  #fb-logo{
    border-style:solid;
    width: 15%;
    height: 30px;
    margin-right:5px;
  }
  #twitter-logo{
    border-style:solid;
    width: 15%;
    height: 30px;
    margin-right:5px;
  }
  .media{
    display: flex;
  }
  p{
    color: #F3EFEF;
  }
  h3{
    color: #F3EFEF;
  }

  body{
    background-color: #18181A;
    padding:0;
    margin:0;
    width:100%;
}

    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    }

    .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    }

    .bi {
    vertical-align: -.125em;
    fill: currentColor;
    }

    .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    }

    .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    }